apiVersion: v1
kind: Service
metadata:
  name: ipmi-cert-pusher
  labels:
    app: ipmi-cert-pusher
spec:
  ports:
  - name: metrics
    port: 8080
    targetPort: metrics
    protocol: TCP
  selector:
    app: ipmi-cert-pusher
